.sidebarRow{
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 10px;
    cursor: pointer;
}

.sidebarRow:hover {
    background-color: #eff2f5;
    border-radius: 10px;
}

.sidebarRow h4{
    margin-left: 15px;
    font-weight: 550;
}

.sidebarRow .MuiSvgIcon-root {
    color: #2e81f4;
    font-size: xx-large;
}